a.out
c_callback.o
compile_commands.json
main.o
siga_dark_notify_impl_macos.h
siga_dark_notify_impl_macos.o
siga_dark_notify_impl_macos.swiftdoc
siga_dark_notify_impl_macos.swiftmodule
siga_dark_notify_impl_macos.swiftsourceinfo
